<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app-container"><%- container %></div>
<script type="application/json" id="data-live">
    <%- dataJson %>
</script>
<script src="js/vendors.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>